.section--header {
  background-color: var(--mat-sys-primary-container);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: var(--sp-3);
}

.nav__logo {
  --size: 40px;

  mat-icon {
    width: var(--size);
    height: var(--size);
    font-size: var(--size);
  }
}

.nav__links {
  display: flex;
  gap: var(--sp-3);
}
